# `direnv` compatible wrapper to load `.env` and `.env.local` files, where available

# Load .env always (expected to exist, commit to git)
dotenv .env

# Load .env.local if exists locally (NOT in git, use for secrets / local dev)
dotenv_if_exists .env.local

