.*.sw?
.nfs*
*~

/.claude/settings.local.json
/.env.*local
/.envrc.local
/DevNotes
/TODO
/bin/*
/cmd/dany/dany*
/cmd/dnx/dnx
/data/*
/delta/applied/*
/dist/*
/node_modules/*
/pkg/linux_amd64/*
/src/dany
/src/*.*/
/var/*
